services:
  graph-node:
    image: graphprotocol/graph-node:latest
    ports:
      - "8000:8000"   # GraphQL HTTP
      - "8001:8001"   # GraphQL WS
      - "8020:8020"   # JSON-RPC (admin)
      - "8030:8030"   # Index node status
      - "8040:8040"   # Metrics
    depends_on:
      - ipfs
      - postgres
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      postgres_host: postgres
      postgres_user: graph-node
      postgres_pass: let-me-in
      postgres_db: graph-node
      ipfs: "ipfs:5001"
      ethereum: "paxeer-network:https://public-rpc.paxeer.app/rpc"
      GRAPH_LOG: info
      ETHEREUM_REORG_THRESHOLD: 1
      ETHEREUM_ANCESTOR_COUNT: 1

  ipfs:
    image: ipfs/kubo:v0.27.0
    ports:
      - "5001:5001"
    volumes:
      - ipfs-data:/data/ipfs

  postgres:
    image: postgres:16
    ports:
      - "5433:5432"
    command:
      [
        "postgres",
        "-cshared_preload_libraries=pg_stat_statements",
        "-cmax_connections=200",
      ]
    environment:
      POSTGRES_USER: graph-node
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: graph-node
      POSTGRES_INITDB_ARGS: "-E UTF8 --locale=C"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  ipfs-data:
  postgres-data:
